:root {
    --colorBorder: #3a3a30;
    --colorBrown: #F5EFB9;
    --colorLightBrown: #9F9C7D;
    --colorLigherBrown: #716E59;
    --colorSuperLigherBrown: #525040;
    --colorBg: #434238;
    --colorRed: #9F9C7D;
    --colorGreen: #52870f;
    --colorWhite: #28281F;
    --colorLogoBody: #6FA68C;
    --colorLogoLeg: #216155;
    --colorLogoWing: #74CCA2;
  }