:root {
    --colorBorder: #eeebd8;
    --colorBrown: #543416;
    --colorLightBrown: #865E5E;
    --colorLigherBrown: #AEA092;
    --colorSuperLigherBrown: #E7D7C8;
    --colorBg: #fffdef;
    --colorRed: #e95d5d;
    --colorGreen: #52870f;
    --colorWhite: #ffffff;
    --colorLogoBody: #6FA68C;
    --colorLogoLeg: #216155;
    --colorLogoWing: #74CCA2;
  }